    {% extends "base.html" %}

    {% block content %}

<div class="row">
    <div class="column">
          <h1>Upload new File</h1>
            <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
            </form>
    </div>
</div>
<div class="row">
    <div class="column">
        {% if elem %}
          <ul>
              <li>Top 3 predictions: {{elem[0]}}</li>
              <li>Top 3 probabilities: {{elem[1]}}</li>
          </ul>
        {% endif %}
    </div>
    <div class="column">
            {% if image_data %}
            <img width='100%' height='auto' src='data:image/png;base64,{{image_data}}'/>
            {% endif %}
    </div>
</div>

<div class="row">
            {% if image_heatmap %}
            <img width='100%' height='auto' src='data:image/png;base64,{{image_heatmap}}'/>
            {% endif %}
</div>

    {% endblock %}